<a href="https://colab.research.google.com/github/sovank/dsa-with-python/blob/main/Day30_Array1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Maximum sub-array sum

In [26]:
#Brute
A = [-2, 3, 4, -1, 5, -10, 7]
#A = [-3, 4, 6, 8, -10, 2, 7]
#A = [4, 5, 2, 1, 6]
#A = [-4, -3, -6, -9, -2]
n=len(A)
ans = -1000000000000000000
for i in range(n):
  for j in range(i, n):
    sub = 0
    for k in range(i, j+1):
      sub += A[k]
    ans = max(ans, sub)
print(ans)

#T.C~O(N^3)
#S.C~O(1)

11

In [32]:
#Using Prefix sum to reduce the Time complexity

#Samples
A = [-2, 3, 4, -1, 5, -10, 7]
#A = [-3, 4, 6, 8, -10, 2, 7]
#A = [4, 5, 2, 1, 6]
#A = [-4, -3, -6, -9, -2]


n=len(A)
pfsum = [0]*n
pfsum[0] = A[0]
ans = -1000000000000000000
for i in range(1, n):
  pfsum[i] = pfsum[i-1] + A[i]
for i in range(n):
  for j in range(i, n):
    if i==0:
      sub = pfsum[j]
    else:
      sub = pfsum[j] - pfsum[i-1]
    ans = max(ans, sub)
print(ans)

#T.C~O(N^2)
#S.C~O(N)

11

In [34]:
#Using Carry Forward to reduce the Space Complexity

#Samples
A = [-2, 3, 4, -1, 5, -10, 7]
#A = [-3, 4, 6, 8, -10, 2, 7]
#A = [4, 5, 2, 1, 6]
#A = [-4, -3, -6, -9, -2]


n=len(A)
ans = -1000000000000000000
for i in range(n):
  currSum = 0
  for j in range(i, n):
    currSum += A[j]
    ans = max(ans, currSum)
print(ans)

#T.C~O(N^2)
#S.C~O(1)

11

In [35]:
#Using Kadane's Algorithm to reduce the Time Complexity further to O(N)

#Samples
A = [-2, 3, 4, -1, 5, -10, 7]
#A = [-3, 4, 6, 8, -10, 2, 7]
#A = [4, 5, 2, 1, 6]
#A = [-4, -3, -6, -9, -2]


n=len(A)
maxSum = -1000000000000000000
currSum = 0

for i in range(n):
    currSum += A[i]
    if currSum > maxSum:
      maxSum = currSum
    if currSum < 0:
      currSum = 0
print(maxSum)

#T.C~O(N)
#S.C~O(1)

11

Given integer array with all elements as 0, return final array after query(i, value)

In [17]:
# Brute force
A = [0, 0, 0, 0, 0]
Q = [
    [1, 3],
    [0, 2],
    [4, 1]
    ]

qlen = len(Q)
n = len(A)
for i in range(qlen):
  index = Q[i][0]
  value = Q[i][1]

  for j in range(index, n):
    A[j] += value

print(A)

#T.C ~ O(Q*N)
#S.C ~ O(1)

[2, 5, 5, 5, 6]

In [16]:
# Optimised approach
A = [0, 0, 0, 0, 0]
Q = [
    [1, 3],
    [0, 2],
    [4, 1]
    ]

qlen = len(Q)
n = len(A)

for i in range(qlen):
  index = Q[i][0]
  value = Q[i][1]
  A[index] = value

for i in range(1, n):
  A[i] += A[i-1]

print(A)

#T.C ~ O(Q+N)
#S.C ~ O(1)

[2, 5, 5, 5, 6]

Given integer array with all elements as 0, return final array after query(i, j, value)

In [15]:
# Brute force
A = [0, 0, 0, 0, 0, 0, 0]   #len=7
Q = [
    [1, 3, 2],
    [2, 5, 3],
    [5, 6, -1]
    ]

qlen = len(Q)
n = len(A)
for i in range(qlen):
  start = Q[i][0]
  end = Q[i][1]
  value = Q[i][2]

  for j in range(start, end+1):
    A[j] += value

print(A)

#T.C ~ O(Q*N)
#S.C ~ O(1)

[0, 2, 5, 5, 3, 2, -1]

In [14]:
# Optimised Approach
A = [0, 0, 0, 0, 0, 0, 0]   #len=7
Q = [
    [1, 3, 2],
    [2, 5, 3],
    [5, 6, -1]
    ]

qlen = len(Q)
n = len(A)
for i in range(qlen):
  start = Q[i][0]
  end = Q[i][1]
  value = Q[i][2]

  A[start] += value
  if end<n-1:
    A[end+1] -= value

for i in range(1, n):
  A[i] += A[i-1]

print(A)

#T.C ~ O(Q+N)
#S.C ~ O(1)

[0, 2, 5, 5, 3, 2, -1]

Water problem

In [18]:
A = [3, 2, 0, 4]
n=len(A)
lmax = [0]*n
rmax = [0]*n
water = 0
ans = 0
for i in range(1, n):
  lmax[i] = max(lmax[i-1], A[i-1])

print(lmax)

for i in range(n-2, -1, -1):
  rmax[i] = max(rmax[i+1], A[i+1])

print(rmax)

for i in range(1, n-1):
  water = min(lmax[i], rmax[i]) - A[i]
  if water>0:
    ans += water
print(ans)

[0, 3, 3, 3]
[4, 4, 4, 0]
4